body {
  /* background-color: rgba(255, 228, 108, 0.65); */
  /* background-color: rgba(111, 255, 111, 0.589); */
  background-color: #D1DEDE;
}

input {
  width: 60px;
  text-align: center;
  padding-left: 10px;
  padding-right: 0px;
  margin-left: .5rem;
}

select {
  margin-bottom: 5px;
  margin-left: 0.5rem;
  text-align: center;
}