button {
  background-color: #10928f;
  border: 2px solid rgb(0, 0, 0);
  color: white;
  padding: 0.5rem 1rem;
  margin: 1.2rem;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #0c8482;
}